In [1]:
import pandas as pd

url='https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'
DataSet = pd.read_csv(url, encoding='ISO-8859-1') #can also use encoder='latin-1'

In [9]:
DataSet.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [12]:
DataSet.groupby('Item')['Y2014'].count()

Item
Alcohol, Non-Food      275
Alcoholic Beverages    562
Animal Products        135
Animal fats            635
Apples and products    510
                      ...
Vegetables, Other      575
Vegetal Products       135
Wheat and products     645
Wine                   491
Yams                   318
Name: Y2014, Length: 119, dtype: int64

In [13]:
 DataSet.describe(include='all')  #question 12

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943,60943.000000,60943,60943.000000,60943,60943,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
unique,NaN,49,NaN,119,NaN,18,5,NaN,NaN,NaN,NaN,NaN
top,NaN,Kenya,NaN,Milk - Excluding Butter,NaN,Domestic supply quantity,1000 tonnes,NaN,NaN,NaN,NaN,NaN
freq,NaN,1560,NaN,1262,NaN,5295,40933,NaN,NaN,NaN,NaN,NaN
mean,134.265576,NaN,2687.176706,NaN,3814.856456,NaN,NaN,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,NaN,146.055739,NaN,2212.007033,NaN,NaN,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,NaN,2501.000000,NaN,511.000000,NaN,NaN,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,NaN,2562.000000,NaN,684.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,NaN,2630.000000,NaN,5142.000000,NaN,NaN,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,NaN,2775.000000,NaN,5511.000000,NaN,NaN,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,NaN,2961.000000,NaN,5911.000000,NaN,NaN,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [16]:
DataSet.isnull().sum() #question 13

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [63]:
DataSet.groupby('Element Code')['Y2014'].sum() #question14

Element Code
511     1031585.00
645       49650.63
664      454257.00
674       11836.46
684       10225.56
5072      58749.83
5123     153223.00
5131     282923.00
5142    1212332.49
5154      78718.13
5170      30149.00
5171        416.00
5301    1996716.35
5511    1931287.75
5521     216927.89
5527      21922.92
5611     274144.48
5911     150020.64
Name: Y2014, dtype: float64

In [67]:
DataSet.groupby('Element')['Y2017'].sum()   #question 15

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [23]:
DataSet.groupby('Element')['Y2015'].sum()#question 15

Element
Domestic supply quantity                  5245
Export Quantity                           3704
Fat supply quantity (g/capita/day)        4974
Feed                                      1177
Food                                      4901
Food supply (kcal/capita/day)             4955
Food supply quantity (kg/capita/yr)       4865
Import Quantity                           4911
Losses                                    2009
Other uses (non-food)                     1667
Processing                                1995
Production                                3828
Protein supply quantity (g/capita/day)    4971
Residuals                                 4605
Seed                                       759
Stock Variation                           4229
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2015, dtype: int64

In [24]:
DataSet.groupby('Element')['Y2014'].sum()#question 15

Element
Domestic supply quantity                  5244
Export Quantity                           3660
Fat supply quantity (g/capita/day)        4965
Feed                                      1216
Food                                      4896
Food supply (kcal/capita/day)             4947
Food supply quantity (kg/capita/yr)       4860
Import Quantity                           4919
Losses                                    2009
Other uses (non-food)                     1662
Processing                                1987
Production                                3830
Protein supply quantity (g/capita/day)    4963
Residuals                                 4604
Seed                                       762
Stock Variation                           4230
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2014, dtype: int64

In [69]:
DataSet.groupby('Area')['Area'].count()  #sum of uniques countrries #question 20

Area
Algeria                        1313
Angola                         1424
Benin                          1285
Botswana                       1378
Burkina Faso                   1409
Cabo Verde                     1260
Cameroon                       1460
Central African Republic       1344
Chad                           1343
Comoros                          45
Congo                          1413
Côte d'Ivoire                  1467
Djibouti                       1095
Egypt                          1488
Eswatini                       1284
Ethiopia                       1447
Ethiopia PDR                     39
Gabon                          1245
Gambia                         1168
Ghana                          1354
Guinea                         1410
Guinea-Bissau                  1128
Kenya                          1560
Lesotho                        1150
Liberia                        1206
Madagascar                     1439
Malawi                         1447
Mali                           1293
Mauritania                     1195
Mauritius                      1378
Morocco                        1393
Mozambique                     1427
Namibia                        1283
Niger                          1403
Nigeria                        1474
Rwanda                         1426
Sao Tome and Principe          1177
Senegal                        1462
Seychelles                       68
Sierra Leone                   1242
South Africa                   1399
Sudan                          1316
Sudan (former)                   53
Togo                           1294
Tunisia                        1338
Uganda                         1458
United Republic of Tanzania    1419
Zambia                         1451
Zimbabwe                       1393
Name: Area, dtype: int64

In [32]:
DataSet.groupby('Element')['Y2018'].count()   #sum of algeria import

Element
Domestic supply quantity                  5256
Export Quantity                           3646
Fat supply quantity (g/capita/day)        4987
Feed                                      1225
Food                                      4913
Food supply (kcal/capita/day)             4969
Food supply quantity (kg/capita/yr)       4877
Import Quantity                           4945
Losses                                    2008
Other uses (non-food)                     1655
Processing                                2003
Production                                3846
Protein supply quantity (g/capita/day)    4986
Residuals                                 4616
Seed                                       758
Stock Variation                           4217
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2018, dtype: int64

In [27]:
DataSet.duplicated().any()

False

In [70]:
DataSet.groupby('Element')['Y2018'].sum()    #highest sum question 17/18

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [74]:
DataSet.groupby('Area')['Element'].sum()   #sum of algeria import question 19

Area
Algeria                        Total Population - Both sexesDomestic supply q...
Angola                         Total Population - Both sexesDomestic supply q...
Benin                          Total Population - Both sexesDomestic supply q...
Botswana                       Total Population - Both sexesDomestic supply q...
Burkina Faso                   Total Population - Both sexesDomestic supply q...
Cabo Verde                     Total Population - Both sexesDomestic supply q...
Cameroon                       Total Population - Both sexesDomestic supply q...
Central African Republic       Total Population - Both sexesDomestic supply q...
Chad                           Total Population - Both sexesDomestic supply q...
Comoros                        Import QuantityDomestic supply quantityOther u...
Congo                          Total Population - Both sexesDomestic supply q...
Côte d'Ivoire                  Total Population - Both sexesDomestic supply q...
Djibouti                       Total Population - Both sexesDomestic supply q...
Egypt                          Total Population - Both sexesDomestic supply q...
Eswatini                       Total Population - Both sexesDomestic supply q...
Ethiopia                       Total Population - Both sexesDomestic supply q...
Ethiopia PDR                   Import QuantityDomestic supply quantityOther u...
Gabon                          Total Population - Both sexesDomestic supply q...
Gambia                         Total Population - Both sexesDomestic supply q...
Ghana                          Total Population - Both sexesDomestic supply q...
Guinea                         Total Population - Both sexesDomestic supply q...
Guinea-Bissau                  Total Population - Both sexesDomestic supply q...
Kenya                          Total Population - Both sexesDomestic supply q...
Lesotho                        Total Population - Both sexesDomestic supply q...
Liberia                        Total Population - Both sexesDomestic supply q...
Madagascar                     Total Population - Both sexesDomestic supply q...
Malawi                         Total Population - Both sexesDomestic supply q...
Mali                           Total Population - Both sexesDomestic supply q...
Mauritania                     Total Population - Both sexesDomestic supply q...
Mauritius                      Total Population - Both sexesDomestic supply q...
Morocco                        Total Population - Both sexesDomestic supply q...
Mozambique                     Total Population - Both sexesDomestic supply q...
Namibia                        Total Population - Both sexesDomestic supply q...
Niger                          Total Population - Both sexesDomestic supply q...
Nigeria                        Total Population - Both sexesDomestic supply q...
Rwanda                         Total Population - Both sexesDomestic supply q...
Sao Tome and Principe          Total Population - Both sexesDomestic supply q...
Senegal                        Total Population - Both sexesDomestic supply q...
Seychelles                     ProductionImport QuantityStock VariationExport...
Sierra Leone                   Total Population - Both sexesDomestic supply q...
South Africa                   Total Population - Both sexesDomestic supply q...
Sudan                          Total Population - Both sexesDomestic supply q...
Sudan (former)                 Import QuantityDomestic supply quantityFeedOth...
Togo                           Total Population - Both sexesDomestic supply q...
Tunisia                        Total Population - Both sexesDomestic supply q...
Uganda                         Total Population - Both sexesDomestic supply q...
United Republic of Tanzania    Total Population - Both sexesDomestic supply q...
Zambia                         Total Population - Both sexesDomestic supply q...
Zimbabwe                       Total Population - Both sexesDomestic supply q...
Name: Element, dtype: object

In [38]:
DataSet.groupby('Element')['Y2014'].sum()   #question 16

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [39]:
DataSet.groupby('Item')['Y2014'].sum()   #question 11

Item
Alcohol, Non-Food        2403.00
Alcoholic Beverages    102410.11
Animal Products         11935.65
Animal fats            209460.54
Apples and products      9499.23
                         ...
Vegetables, Other      155038.96
Vegetal Products       107145.19
Wheat and products     232670.13
Wine                     4497.36
Yams                   200396.96
Name: Y2014, Length: 119, dtype: float64

In [40]:
DataSet.groupby('Item')['Y2017'].sum()   #question 11

Item
Alcohol, Non-Food        2348.00
Alcoholic Beverages     95581.06
Animal Products         11547.65
Animal fats            269617.53
Apples and products     10198.90
                         ...
Vegetables, Other      157752.59
Vegetal Products       107655.20
Wheat and products     240047.62
Wine                     4178.02
Yams                   229174.59
Name: Y2017, Length: 119, dtype: float64